.left-sidebar {
  width: 30%;
  overflow-y: auto; /* Add scrollbar if content exceeds height */
  padding: 10px;
  background-color: #f1f1f1;
}

.right-screen {
  position: relative;
  width: 30%;
}

.box-overlay {
  box-sizing: border-box;
  pointer-events: none;
}



